.products {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
  
    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
      flex: 2 46%;
    }
}

label {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}